openmeteo-requests
requests-cache 
retry-requests 
numpy 
pandas
jsonschema
scipy
scikit-learn
python-dotenv
fastapi
uvicorn
pydantic
azure-storage-file-datalake
confluent-kafka
mysql-connector-python
river
pytz
azure-cosmos
pyspark
azure
pyodbc